# Top-most EditorConfig file
root = true

# Universal settings for all file types
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Settings for Kotlin files
[*.{kt,kts}]
ktlint_official_code_style = enabled
