# Ignore Node dependencies and build output
node_modules/
lib/

# Ignore Android build directories
**/build/
.gradle/

# IntelliJ/Android Studio project files
.idea/

# Local configuration files
local.properties
java_pid16808.hprof
